<!DOCTYPE html>
<html>
<head>
  <title>EPL</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <h1 class="text-center">{{title}}</h1>
    </div>
    <div class="row centered">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 table-responsive text-center">
        {{table}}
      </div>
    </div>
  </div>
</body>
</html>
